@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jetbrainsMono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 2px green;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #b2c9de;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #6889a5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #456d91;
}

.ql-container.ql-snow {
  border: none !important;
  font-family: var(--font-jetbrainsMono);
  font-size: 18px;
}



